/* Configuración personalizada del Logo */
.logo-header {
    height: 300px;        /* Controla la altura exacta de la imagen */
    margin-right: 20px;  /* Separa el logo del botón/menú */
    margin-left: 0px;    /* Distancia respecto al borde izquierdo del contenedor */
    position: relative;
    top: -60x;            /* Cambia a valores como -2px o 2px para alineación fina */
}

/* Opcional: Color de Fondo Personalizado para el Navbar */
.mi-nav-color {
    height: 300px;

    background-color: #000f2e !important; /* Reemplaza este código HEX por el color de tu liga */

}
